/source_code/ch23/stockBots/stocksentiment-8cf69-firebase-adminsdk-rsalw-a998bda61f.json
/source_code/ch23/stockBots/.env
/source_code/ch22/stocksentiment-8cf69-firebase-adminsdk-rsalw-a998bda61f.json
/source_code/ch25/.env
/source_code/ch25/sentiment-notifier/functions/venv/*
